Hood API (V2.0.1).pdf
xmlv2_api_categoriesBrowse_sample.xml
settings.php
date.txt
xmlv2_api_itemDelete_sample.xml
xmlv2_api_shopCategoriesDelete_sample.xml
xmlv2_api_itemDetail_sample.xml
xmlv2_api_itemInsert_sample.xml
xmlv2_api_itemList_sample.xml
xmlv2_api_itemStatus_sample.xml
xmlv2_api_itemUpdate_sample.xml
xmlv2_api_orderList_sample.xml
xmlv2_api_rateBuyer_sample.xml
xmlv2_api_shopCategoriesInsert_sample.xml
xmlv2_api_shopCategoriesList_sample.xml
xmlv2_api_shopCategoriesUpdate_sample.xml
xmlv2_api_updateOrderStatus_sample.xml
